.Tilt {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 5rem;
    left: 5rem;
    border-radius: 5px;
    background-color: hotpink;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);;
}
.tilt-box {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
